@import './base.css';

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y:hidden;
}

@supports (height: 100lvh) {
    #app {
        height: 100lvh;
    }
}

#search {
    height: 2rem;
    border-radius: 0.3rem;
    border: transparent 0.1rem var(--color-text);
    outline: none;
    font-family: inherit;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 0 0.5rem 0 2rem;
    line-height: 2rem;
    text-transform: capitalize;
    background-color: var(--color-background-2);
    color: var(--color-text-2)
  }

div.ProseMirror {
    position: static !important;
}

.tiptap {
    z-index: 0;
}

.tiptap p {
    padding: 0.3rem 0;
}

p strong {
    font-weight: bold;
}

p em {
    font-style: italic;
}

p u {
    text-decoration: underline;
}